table{
    width: 30%;
    border-collapse: collapse;
    box-shadow: 7px 7px 23px -4px rgba(0,0,0,0.75);
    }
table, td, th {
border:1px solid coral;
padding: 5px; 
}

th {text-align: cent;}

tr:nth-child(even){
    background-color: cyan;
    }